@model IEnumerable<SistemaCadernetaPediatrica.ControlePediatrio>

@{
    ViewBag.Title = "Sistema Caderneta Pediátrica";
}

<h2>Controles Pediátricos</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacoes)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Paciente.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Data)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Idade)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Peso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estatura)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PCef)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IMC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Observacoes)
    </td>

    <td>
        @Html.ActionLink("Alterar", "Edit", new { id = item.IdControlePediatrio }) |
        @Html.ActionLink("Visualizar", "Details", new { id = item.IdControlePediatrio }) |
        @Html.ActionLink("Remover", "Delete", new { id = item.IdControlePediatrio })
    </td>
</tr>
}

</table>
